/* For Mobile */
#app {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#app .container {
  width: 90%;
  z-index: 100;
  margin-top: 10px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.9);
  overflow: auto;
}

#app .container-view {
  padding: 0 20px;
}

.top-menu {
  width: auto;
}

.top-menu button {
  background-color: #f6f6f6;
  border: 1px solid #e8e7e7;
  cursor: pointer;
  border-radius: 2px;
  width: calc(33.3% - 2px);
  font-size: 0.8rem;
  padding: 5px;
}

.top-menu button:not(:last-child) {
  margin-right: 2px;
}

.top-menu button:hover,
.top-menu button:focus {
  background-color: #e9e9e9;
}

.archive-btn {
  width: 10px;
}

/* For Desktop */
@media only screen and (min-width: 768px) {
  #app .container {
    width: 40%;
  }
}
