.call-log {
  position: relative;
  border: 1px solid #e7ebee;
  border-radius: 10px;
  margin: 0 0 10px 0;
  padding-right: 0.25rem;
}

.call-log-inner {
  display: flex;
  align-items: center;
}

.call-log:hover {
  background: #f1f4f6;
  cursor: pointer;
}

.call-log-inner img {
  width: 15px;
  padding: 15px;
  float: left;
  flex-shrink: 0;
}

.call-via-text {
  display: flex;
  font-size: 0.6rem;
  color: #666;
}

.call-date {
  position: relative;
  text-align: center;
}

.call-time {
  margin-left: auto;
  flex-shrink: 0;
  font-size: 80%;
}

.call-time::after {
  content: "";
  position: absolute;
  right: -1px;
  top: 14px;
  bottom: 0;
  border: 1px solid #e7ebee;
  height: 14px;
  width: 21px;
  border-radius: 3px 0 0 3px;
}

.date-label {
  background-color: #fff;
  padding: 0.5rem 0.5rem;
  z-index: 1;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.5rem;
  color: #a1a3ae;
  letter-spacing: 1px;
}

.call-date::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: 1px;
  z-index: -1;
  background-image: linear-gradient(to right, #333 10%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 5px 1px;
  background-repeat: repeat-x;
}

.flex-grow-1 {
  flex-grow: 1;
}

.call-number {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.call-details {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  color: #666;
  font-size: 10px;
}

.call-details.active {
  max-height: 200px;
  opacity: 1;
  padding: 5px 0;
}

.call-details-inner {
  display: flex;
  justify-content: space-around;
}
